@page
@model IndexModel
@{
	ViewData["Title"] = "Adresler";
}

@functions {
	public class IndexModel : PageBaseModel
	{
		public List<Address> Addresses;

		private readonly IAddressService mAddressService;

		public IndexModel(IAddressService addressService)
		{
			mAddressService= addressService;
		}

		public IActionResult OnGet()
		{
			Addresses = mAddressService.GetAllWithType(AddressGroup.Job);
			return Page();
		}
	}
}
<div class="row grid-margin">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="d-flex justify-content-between align-items-center">
					<h4 class="card-title mb-0">Adresler</h4>
					<a class="btn btn-light btn-sm" asp-page="./edit">Yeni Ekle</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row grid-margin">
	<div class="col-12">
		<div class="table-responsive">
			<table id="customers-table" class="table center-aligned-table">
				<thead>
					<tr class="bg-light">
						<th class="border-bottom-0">Adres</th>
						<th class="border-bottom-0">Şehir</th>
						<th class="border-bottom-0">Grup</th>
						<th class="border-bottom-0">Durum</th>
					</tr>
				</thead>
				<tbody>

					@foreach (var address in Model.Addresses)
					{
						<tr data-id="@address.Id">
							<td class="border-bottom-0"><a asp-page="./edit" asp-route-id="@address.Id">@address.AddressLine</a></td>
							<td class="border-bottom-0">@address.District?.Province?.Name</td>
							<td class="border-bottom-0">@address.AddressType?.Name</td>
							<td class="border-bottom-0">@(address.IsActive ? "Aktif" : "Pasif")</td>
						</tr>
					}

				</tbody>
			</table>
		</div>
	</div>
</div>


<script>
	(function ($) {
		'use strict';
		$(function () {
			var table = $('#customers-table').DataTable({
				"aoColumnDefs": [{ "bSearchable": false, "aTargets": [1,2,3,4] }],
				"aLengthMenu": [
					[5, 10, 15, -1],
					[5, 10, 15, "Tümü"]
				],
				"iDisplayLength": 10,
				"language": {
					"url": "/js/datatable-tr.json"
				}
			});

			$('#customers-table tbody').on('mousedown touchstart', 'tr', function () {
				if ($(this).hasClass('selected')) {
					$(this).removeClass('selected');
				}
				else {
					table.$('tr.selected').removeClass('selected');
					$(this).addClass('selected');
				}
			});

			$('#customers-table tbody').on('mouseup touchend', 'tr', function () {
				table.$('tr.selected').removeClass('selected');
				//if ($(this).data('id')) {
				//}
			});

		});
	})(jQuery);
</script>